@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #1360f0;
  --secondary: #0385ff;
  --primary-text: white;
  --primary-black: rgb(25, 25, 25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.link-nav-highlighted {
  background: var(--primary);
	padding: 1em 1.75em;
	border-radius: .5em;
	border: 1px solid transparent;
	transition: 1s;
}

.link-nav-highlighted:hover {
  background: var(--secondary);
  transition: 0.35s;
  border: 1px solid white;
}


.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-main {
  border-radius: 10px;
  background: var(--primary-black);
  border: 2px solid var(--primary-text);
  color: var(--primary-text);

  padding-left: 2rem/* 32px */;
  padding-right: 2rem/* 32px */;

  padding-top: 1.25rem/* 20px */;
  padding-bottom: 1.25rem/* 20px */;

  transition: 0.5s;
}

.btn-main:hover {
  background: var(--primary-text);
  border: 2px solid var(--primary-black);
  color: var(--primary-black);

  transition: 0.5s;
}

.btn-main-reverse {
  border-radius: 10px;
  background: var(--primary-text);
  border: 2px solid var(--primary-black);
  color: var(--primary-black);

  padding-left: 2rem/* 32px */;
  padding-right: 2rem/* 32px */;

  padding-top: 1.25rem/* 20px */;
  padding-bottom: 1.25rem/* 20px */;

  transition: 0.5s;
}

.btn-main-reverse:hover {
  background: var(--primary-black);
  border: 2px solid var(--primary-text);
  color: var(--primary-text);

  transition: 0.5s;
}

footer {
  border-top: 2px solid var(--primary-text);
}

.fadeInAnim {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate3d(0, -50px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}